<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>

<div>
Home sales and prices in Spokane, an interactive version of the graphs from <a href="https://media.spokesman.com/photos/2019/04/26/Spokane-housing-market-crash-recovery-19p4_t1200.jpg?298603a24e8d51915fce203907ff2746e482a5a6">the Spokesman Review.</a>

<body style="margin:0px;padding:0px">
<iframe src="http://104.248.184.255:3838/fred/sr1/" frameborder="0" height="800" width=100%></iframe>
</body>

	
</div>


        {{ partial "carousel.html" . }}

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
